.form {
  @include form-template;
}

.form .form__field input {
  border: 1px solid transparent;

  @include hover-focus {
    border: 1px solid $color-default-white;
  }
}

.form .form__field--agree {
  grid-area: agree;
  margin-left: 35px;
  position: relative;
}

.form .form__field--agree span {
  @include form-text;
  display: block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;
}

.form .form__field--agree input {
  margin-top: 16px;
  appearance: none;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  margin-left: -28px;
  background: url("../img/sprite/checkbox.svg") 0 0 no-repeat;
}

.form .form__field--agree input:checked {
  background: url("../img/sprite/checkbox-checked.svg") 0 0 no-repeat;
}

.form .form__field--position input,
.form .form__field--position span {
  margin-top: 0;
  top: 0;
}

.form textarea {
  margin: 19px 0 34px;
  border: 1px solid transparent;

  @include hover-focus {
    border: 1px solid $color-default-white;
  }

  @media (max-width: 1023px) {
    margin: 20px 0 36px;
    padding: 30px 0 79px 15px;
  }

  @media (max-width: 767px) {
    margin: 0 0 9px;
    padding: 24px 0 114px 15px;
  }
}

.form button[type="submit"] {
  padding: 10px;
  width: 265px;

  @include hover-focus {
    opacity: 0.9;
  }

  @media (max-width: 1023px) {
    padding: 14px 25px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 5px 0;
  }
}
