.form {
  @include form-template;
}

.form .form__field input {
  border: 1px solid transparent;

  @include hover-focus {
    border: 1px solid $color-default-white;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }
}

.form .form__field--agree {
  grid-area: agree;
  margin-left: 35px;
  position: relative;
  order: 2;

  @media (max-width: 1023px) {
    margin-left: 26px;
  }

  @media (max-width: 767px) {
    margin-left: 32px;
  }
}

.form .form__field--agree label {
  @include hover-focus {
    opacity: 0.9;
  }
}

.form .form__field--agree input:focus + span {
  outline: 1px solid $color-default-white;
}

.form .form__field--agree span {
  @include form-text;
  display: block;
  margin-top: 13px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  @media (max-width: 1023px) {
    margin-top: 8px;
  }

  @media (max-width: 767px) {
    margin-top: 5px;
  }
}

.form .form__field-popup span {
  margin-top: 0;
}

.form .form__field--agree input {
  padding: 15px 0 0 15px;
  margin-top: 14px;
  appearance: none;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  margin-left: -28px;
  background: url("../img/sprite/checkbox.svg") 0 0 no-repeat;
  cursor: pointer;

  &:focus {
    border: 1px solid $color-default-white;
    outline: none;
  }

  @media (max-width: 767px) {
    margin-top: 9px;
  }

  @media (min-width: 444px) and (max-width: 767px) {
    margin-top: 0;
  }

  @media (min-width: 905px) and (max-width: 1023px) {
    margin-top: 0;
  }
}

.form .form__field--agree input:checked {
  background: url("../img/sprite/checkbox-checked.svg") 0 0 no-repeat;
}

.form .form__field-popup input {
  top: -14px;
}

.form textarea {
  margin: 19px 0 34px;
  border: 1px solid transparent;

  @include hover-focus {
    border: 1px solid $color-default-white;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }

  @media (max-width: 1023px) {
    margin: 20px 0 38px;
    padding: 30px 0 79px 15px;
  }

  @media (max-width: 767px) {
    margin: 0 0 9px;
    padding: 24px 0 119px 15px;
  }
}

.form button[type="submit"] {
  padding: 10px;
  width: 265px;
  order: 1;
  user-select: none;

  @include hover-focus {
    opacity: 0.9;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }

  @media (max-width: 1023px) {
    padding: 14px 25px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
