.social-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 218px;
  justify-content: flex-start;

  @media (max-width: 1023px) {
    width: 165px;
    margin: 0;
  }

  @media (max-width: 320px) {
    margin-top: 13px;
  }

  @media (min-width: 321px) and (max-width: 768px) {
    padding-top: 2px;
  }
}

.social-list__item {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 14px 10px 15px 15px;
  padding: 0;

  @media (max-width: 1023px) {
    margin: 10px 5px 10px 20px;
  }

  @media (max-width: 320px) {
    margin: 0 12px 15px 13px;
  }
}

.social-list__item svg {
  fill: $color-default-white;

  @include hover-focus {
    opacity: 0.8;
  }
}
